<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login - JobTrack</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>JobTrack</h1>

        <p>Login to manage your job applications.</p>

        <h2>Login</h2>

         {% with messages = get_flashed_messages(with_categories=true) %}

            {% for category, message in messages %}

                <p class="flash {{ category }}">
                  {{ message }}
                </p>

            {% endfor %}

        {% endwith %}

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter email"
                required
            >


            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter password"
                required
            >


            <button type="submit">
                Login
            </button>

        </form>

        <p>
            Don't have an account?
            <a href="/signup">Sign Up</a>
        </p>

    </div>

</body>

</html>